/* voir pour resizer avec le reste*/

 header {
  background: var(--secondary-color, #92817A);
  color: var(--tertiary-color);
  font-family: var(--header-font);
  height: 30vh;
  --font-size-title: calc(var(--font-size-standard) * 2);
  display: flex;
  justify-content: center;
  align-items: center;
 }

section > form {
    margin-top: calc(var(--spacing) * 8);
    padding: var(--spacing);
}

    section {
      display: flex;
      justify-content: center;
    }


    label {
      font-size: var(--font-size-standard);
      font-family: var(--text-font);
      color: var(--quaternary-color);
      margin: var(--spacing);
    }
    
    #submit {
      padding: 5px 15px 5px 15px; 
      font-size: var(--font-size-standard);
      font-family: var(--text-font);
      color: var(--tertiary-color);
      background-color: var(--secondary-color);
      border: none;
      margin-top: 2rem;
      display: block;

    
    } /*rajouter js pop-up et media queries voir si importation navbar et footer*/
     #submit:hover {
      background-color: var(--hover-color);
      color: var(--secondary-color);
    }
    
    input, textarea {
      border-radius: 10px;
      border: none;
      background-color: #D7D7D7;
      margin: var(--spacing);
      padding: 10px;
    }
    
    textarea {
      resize: none;
    }
    
    #name , #email, #textarea {
      width: 50vw;
    }
    

     @media screen and (max-width: 360px) {

    h1 { 
      font-size: 1.2em;

    }
    label {
      font-size: 15px ;
    }

     }