
@import url("./navbar.css");

:root {
  /* Colors */
  --primary-color: #8db596;
  --secondary-color: #92817a;
  --tertiary-color: #bedbbb;
  --quaternary-color: #707070;

  /* neutral colors */
  --white: #fff;
  --black: #000;
  --hover-color: #e4e4e4;

  /* font-family */
  --text-font: "Mulish", sans-serif;
  --header-font: "Poppins", sans-serif;

  /* font-size */
  --font-size-standard: 20px;
  --font-size-title: calc(var(--font-size-standard) * 2);

  /* line height */
  --line-height-standard: 1.5;

  /* spacing */
  --spacing: 8px;
  --spacing-x2: calc(var(--spacing) * 2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
max-height: 100vh;

}
 header {
  background: var(--secondary-color, #92817A);
  color: var(--tertiary-color);
  font-family: var(--header-font);
  height: 12em;
  --font-size-title: calc(var(--font-size-standard) * 2);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
 }

section > form {
    margin-top: calc(var(--spacing) * 8);
    padding: var(--spacing);
}

    section {
      display: flex;
      justify-content: center;
    }


    label {
      font-size: var(--font-size-standard);
      font-family: var(--text-font);
      color: var(--quaternary-color);
      margin: var(--spacing);
    }
    
    #submit {
      padding: 5px 15px 5px 15px; 
      font-size: var(--font-size-standard);
      font-family: var(--text-font);
      color: var(--tertiary-color);
      background-color: var(--secondary-color);
      border: none;
      margin-top: 2rem;
      display: block;

    
    } /*rajouter js pop-up et media queries voir si importation navbar et footer*/
     #submit:hover {
      background-color: var(--hover-color);
      color: var(--tertiary-color);
    }

    .message {
      display:flex;
      justify-content: center;
      height: auto;
    }



    h4 {
      border: 1px solid var(--tertiary-color);
      color: var(--quaternary-color);
      border-radius: 5px;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;    
      background-color: var(--tertiary-color);
      padding: 10px;
      margin-top: var(--spacing);
      font-family: var(--text-font);
      animation: 3s ease-in-out disappear forwards;

    }
    
    input, textarea {
      border-radius: 10px;
      border: none;
      background-color: #D7D7D7;
      margin: var(--spacing);
      padding: 10px;
    }
    
    textarea {
      resize: none;
    }
    
    #name , #email, #textarea {
      width: 50vw;
    }
    

    @keyframes disappear {
      0% {
          opacity: 1;
      }
      100% {
          opacity: 0;
      }
  }
  

     @media screen and (max-width: 360px) {

    h1 { 
      font-size: 1.2em;

    }
    label {
      font-size: 15px ;
    }

     }
     