.typesDesktop {
  display: none;
}

.typesMobile {
  background: var(--primary-color);
  height: 3.75rem; /* 60px */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.typesMobile button {
  color: var(--tertiary-color);
  text-align: center;
  font-size: calc(var(--font-size-standard) * 0.8); /* 16px */
  background: var(--secondary-color);
  border: none;
  border-radius: 0.9375rem; /* 15px */
  width: 4.6875rem; /* 75px */
  height: 1.5625rem; /* 25px */
}

.typesMobile button:hover {
  background: var(--active-color);
  color: var(--secondary-color);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content svg {
  margin: 0 auto -2px auto;
  width: 50%;
  display: block;
}

.dropdown-content {
  list-style-type: none;
  position: absolute;
  top: 100%;
  left: 0%;
  z-index: 1;
  line-height: 1;
  display: none;
}

.menu {
  display: block;
}

.dropdown-content li {
  margin-bottom: -2px;
}

.dropdown-content li button {
  color: var(--white);
  font-size: calc(var(--font-size-standard) * 0.6); /* 12px */
  border-radius: 0;
}
