.typesDesktop {
  display: none;
}

.typesMobile {
  background: var(--primary-color);
  height: 3.75rem; /* 60px */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.typesMobile button {
  /* BUTTON NAME */
  color: var(--tertiary-color);
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-size: 1rem; /* 16px */

  /* BUTTON STYLE */
  background: var(--secondary-color);
  border: none;
  border-radius: 0.9375rem; /* 15px */

  /* BUTTON LAYOUT */
  width: 4.6875rem; /* 75px */
  height: 1.5625rem; /* 25px */
}

.typesMobile button:hover {
  background: var(--active-color);
  color: var(--secondary-color);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content svg {
  margin: 0 auto;
  width: 50%;
  display: block;
}

.dropdown-content {
  list-style-type: none;
  position: absolute;
  top: 100%;
  left: 0%;
  z-index: 1;
  line-height: 1;
  display: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li button {
  color: var(--white);
  font-size: 0.75rem; /* 12px */
  border-radius: 0;
  line-height: 0;
}
