footer {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.lien {
  width: 2rem;
  height: auto;
  padding-top: 2%;
}

a:link 
{ 
 text-decoration: none; 
} 

.nouscontacter a {
  color: var(--black);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align:left;
  gap: 0.5rem;
}

.nouscontacter p {
  font-size: calc(var(--font-size-standard) * 0.60);
}

.wildcodeschool {
  width: 50px;
  height: auto;
}

.adresse_copyright {
  height: 100%;
  display: none;
}

@media screen and (min-width: 772px) {
 .lien {
    width: 4rem;
  }

  .links {
    width: 40%; 
    margin-right: calc(var(--spacing) * 2);
  }

  .wildcodeschool {
    width: 8rem;
  }

  .adresse_copyright {
    width: 60%; 
    font-family: var(--header-font);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding-left: 5%;
  }

  .adresse_copyright p {
    font-size: calc(var(--font-size-standard) * 0.85);
  }

  #copyright {
    width: calc(100% / 2);
    padding: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 0%;
  }
}
