@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@600&family=Poppins&display=swap");
@import url("style.css");

.cards{
    margin: auto;
}

.card{
    width: 90%;
    border: solid black;
    background-color: var(--tertiary-color);
  }

.restaurant-photo{
    object-fit: fill;
    width: 100%;
    
}