@import url("./css/map.css");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@600&family=Poppins&display=swap");
@import url("./css/cards.css");

:root {
  /* Colors */
  --primary-color: #8db596;
  --secondary-color: #92817a;
  --tertiary-color: #bedbbb;
  --quaternary-color: #707070;

  /* neutral colors */
  --white: #fff;
  --black: #000;
  --hover-color: #e4e4e4;

  /* font-family */
  --text-font: "Mulish", sans-serif;
  --header-font: "Poppins", sans-serif;

  /* font-size */
  --font-size-standard: 20px;
  --font-size-title: calc(var(--font-size-standard) * 2);

  /* line height */
  --line-height-standard: 1.5;

  /* spacing */
  --spacing: 8px;
  --spacing-x2: calc(var(--spacing) * 2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: var(--text-font);
  font-size: var(--font-size-standard);
  line-height: var(--line-height-standard);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media screen and (600px < width) {
  body {
    display: grid;
    grid-template-areas: 
      "nav nav nav"
      "hero hero hero"
      "aside main main"
      "footer footer footer";
    grid-template-rows: 7.875rem calc(100vh - 9rem) 1fr 5.125rem;
  }

  nav {
    grid-area: nav;
    height: 7.875rem;
  }

  .hero {
    grid-area: hero;
    height: calc(100vh - 9rem);
  }

  main {
    grid-area: main;
  }

  footer {
    grid-area: footer;
    height: 5.125rem;
  }
}
