@import url("./css/filter.css");
@import url("./css/filterDesktop.css");
@import url("./css/map.css");
@import url("./css/navbar.css");
@import url("./css/footer.css");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@600&family=Poppins&display=swap");

:root {
  /* Colors */
  --primary-color: #8db596;
  --secondary-color: #92817a;
  --tertiary-color: #bedbbb;
  --quaternary-color: #707070;

  /* neutral colors */
  --white: #fff;
  --black: #000;
  --active-color: #e4e4e4;

  /* font-family */
  --text-font: "Mulish", sans-serif;
  --header-font: "Poppins", sans-serif;

  /* font-size */
  --font-size-standard: 1.25rem; /* 20px */
  --font-size-title: calc(var(--font-size-standard) * 2);

  /* line height */
  --line-height-standard: 1.5;

  /* spacing */
  --spacing: 0.5rem; /* 8px */
  --spacing-x2: calc(var(--spacing) * 2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--text-font);
  line-height: var(--line-height-standard);
  font-size: var(--font-size-standard);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  height: 3.75rem;
}

.hero {
  height: auto;
}

main {
  flex: 1;
}

@media screen and (600px < width) {
  body {
    font-family: var(--text-font);
    font-size: var(--font-size-standard);
    line-height: var(--line-height-standard);
    min-height: 100vh;
    max-width: 100vw;
    display: grid;
    grid-template-areas:
      "nav nav nav nav"
      "hero hero hero hero"
      "aside main main main"
      "footer footer footer footer";
    grid-template-rows: auto auto 1fr auto;
  }

  nav {
    grid-area: nav;
    height: auto;
  }

  .hero {
    grid-area: hero;
    height: auto;
  }

  main {
    grid-area: main;
  }

  footer {
    grid-area: footer;
    height: auto;
  }
}
